<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body class="index pushable">
<div class="">
	<div class="following bar">
		<div class="ui container">
			<div class="ui large inverted secondary network menu">
				<div class="item">
					<img class="ui image" style="width:60px; heigh:60px" th:src="@{/img/icono.png}">
				</div>
				<div class="right menu">
					<div class="item">
						
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>
	<div class ="ui container">
		<div class="ui center aligned container">
			<div th:replace="expediente/_opciones::fields(expediente)"></div>
		</div>
	
		<table class="ui celled table">
		  <thead>
		    <tr>
		      <th>Fecha</th>
		      <th>Mascota</th>
		      <th>Veterinario</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr th:each="expediente:${expedientes}">
		      <td th:text="${expediente.fecha}"></td>
		      <td th:text="${expediente.mascota.nombre}"></td>
		      <td th:text="${expediente.veterinario}"></td>
		      
		    </tr>
		  </tbody>
		</table>
	
	</div>
</body>

<script type="text/javascript" th:src="@{/js/semantic.js}"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</html>