<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body th:fragment="fields(veterinario)">

		  <div class="field">
		    <label>Nombre</label>
		    <input type="text" th:field="*{nombre}" class="">
		  </div>
		  <div class="field">
		    <label>Primer Apellido</label>
		    <input type="text" th:field="*{primerApellido}" class="" >
		  </div>
		  <div class="field">
		    <label>Nombre</label>
		    <input type="text" th:field="*{segundoApellido}" class="">
		  </div>
		  <div class="field">
		    <label>Especialidad</label>
		    <input type="text" th:field="*{especialidad}" class="">
		  </div>
		  <div class="field">
		    <label>Cédula Profesional</label>
		    <input type="text" th:field="*{cedulaProfesional}" class="" >
		  </div>
		  <div class="field">
		    <label>Correo Electrónico</label>
		    <input type="text" th:field="*{correo}" class="" >
		  </div>

</body>
</html>