<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Index</title>
<!--  
<link rel="stylesheet" type="text/css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css}">
-->
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

</head>
<body class="index pushable">
	
	<div class="ui sidebar inverted vertical menu right" >
		<div class="item">
			<div class="header">Mascotas
			</div>
			<div class="menu">
				<a class="item" th:href="@{/app/mascota/index}">Mascotas</a>
				<a class="item" th:href="@{/app/veterinario/index}">Veterinarios</a>
				<a class="item" th:href="@{/app/expediente/index}">Expediente</a>
			</div>
		</div>
	</div>
	
	<div class="following bar">
		<div class="ui container">
			<div class="ui large inverted secondary network menu">
				<div class="item">
					<img class="ui image" style="width:60px; heigh:60px" th:src="@{/img/icono.png}">
				</div>
				<div class="right menu">
					<div class="item">
						<a class="view-ui item" onclick="menu()">
							<i class="sidebar icon"></i>
							Menu
						</a>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	
	<div class="pusher">
		<div class="stackable very relaxed ui grid container">
			<div class="row">
				<div class="twelve wide column">
					<h1>Bienvenido</h1>
					<h3 th:text="${saludo}"></h3> 
					
				</div>
				
			</div>
		</div>
	</div>


<!-- Poner estilos al index
	Buscar logo, menu en un desplegable
	
	menu:
		icono - Mascotas
	
	crear index en la carpeta mascotas (Listado de mascotas) boton para editar
	
	'' create- Formulario de registro
	
	'' editar- Formulario de actualizar
	
	'' (Listado de mascotas) boton para eliminar
	
	
	
	create
 -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script>
		function menu(){
			$(".ui.sidebar")
			.sidebar('toggle');
		};
	</script>
</body>


	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
	
 	
	
</html>

